{% extends "layout.html.j2" %}

{% block main %}
<div class="main__nav">
  <a href="{{ root_path }}/" class="site">CBC Docs</a>
  <nav>
    {% for doc in docs %}
      <div>
        <a href="{{ doc.path }}">
          {{ doc.title }}
        </a>
      </div>
    {% endfor %}
  </nav>
</div>
<div class="main__body">
  <div class="article-head">
    <span>{{ date }}</span>
    <h1>{{ title }}</h1>
    <div class="article-head__author">Author: <i>{{ author }}</i></div>
  </div>
  <article>
    {{ body }}
  </article>
</div>
{% endblock %}

{% block head %}
<title>{{ title }} - CBC Docs</title>
<style>
  body {
    background-color: #efefef !important;
  }
  main {
    display: grid;
    max-width: 1250px;
    grid-template-columns: 250px 1fr;
    margin: 0px auto;
    box-sizing: border-box;
  }
  .main__nav {
    grid-column: 1;
    padding: 1rem;
  }
  .main__nav nav {
    padding: 1em 0px;
  }
  .main__nav nav div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .main__body {
    width: 1000px;
    grid-column: 2;
    padding: 2em;
    background-color: #fff;
    overflow: auto;
  }
  .article-head {
    padding-bottom: 3em;
  }
  .article-head span {
    font-size: small;
    color: #666;
  }
  .article-head h1 {
    margin: 0.2rem 0px;
  }
  .article-head__author {
    text-align: right;
    font-size: small;
  }
  .site {
    font-size: 2em;
    font-weight: bold;
    color: #454545;
  }
  table {
    margin: 0px auto;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #ddd;
    padding: 0.2em 0.5em;
  }
  article h1 {
    border-bottom: 2px solid #ddd;
    font-size: 2rem;
  }
  article img {
    max-width: 100%;
  }
  article mjx-container {
    overflow: auto;
  }
  @media screen and (max-width: 1250px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .main__nav nav div {
      display: inline-block;
    }
    .main__body {
      box-sizing: border-box;
      width: calc(100% - 1em);
      padding: 1em;
    }
    article ul,article ol {
      padding-left: 1em;
    }
  }
</style>
{% endblock %}