{% extends "layout.html.j2" %}

{% block head %}
<title>CBC Docs</title>
{% endblock %}

{% block main %}
<div>
  <h1>CBC Docs</h1>
</div>
<div>
  <p>Code-Based Cryptographyに関するドキュメントです</p>
</div>
{% endblock %}