{% extends "layout.html.j2" %}

{% block head %}
<title>CBC Docs</title>
<style>
  body {
    text-align: center;
  }
  main {
    margin: 0px auto;
    max-width: 1000px;
  }
</style>
{% endblock %}

{% block main %}
<h1>CBC Docs</h1>
<p>Code-Based Cryptographyに関するドキュメントです</p>
<div>
  {% for doc in docs %}
    <div>
      <a href="{{ doc.path }}">
        {{ doc.title }}
      </a>
    </div>
  {% endfor %}
</div>
<p>
  <small>
    当サイトのコンテンツや情報において、可能な限り正確な情報を掲載するよう努めています。
    しかし、誤情報が入り込んだり、情報が古くなったりすることもあります。必ずしも正確性を保証するものではありません。
    当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますので、ご了承ください。
  </small>
</p>
{% endblock %}